.rs-container * {
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.rs-container {
    font-family: Arial, Helvetica, sans-serif;
    height: 25px;
    position: relative;
}
.rs-container .rs-bg, .rs-container .rs-selected {
    //background-color: #eee;
    border: 1px solid #3F627F;
    height: 25px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    /*border-radius: 3px;*/
}
.rs-container .rs-selected {
    background-color: #3FA9F5;
    border: 1px solid #3FA9F5;
    transition: all 0.2s linear;
    width: 0;
}
.rs-container.disabled .rs-selected {
    background-color: #ccc;
    border-color: #bbb;
}
.rs-container .rs-pointer {
    background-color: #3FA9F5;
    /*//border: 1px solid #bbb;*/
    /*border-radius: 4px;*/
    cursor: pointer;
    height: 35px;
    left: -3px;
    position: absolute;
    top: -5px;
    transition: all 0.2s linear;
    width: 10px;
    /*box-shadow: inset 0 0 1px #FFF, inset 0 1px 6px #ebebeb, 1px 1px 4px rgba(0, 0, 0, 0.1);*/
}
.rs-container.disabled .rs-pointer {
    border-color: #ccc;
}
/*.rs-container .rs-pointer::before,*/
/*.rs-container .rs-pointer::after {*/
    /*content: '';*/
    /*position: absolute;*/
    /*width: 1px;*/
    /*height: 9px;*/
    /*background-color: #ddd;*/
    /*left: 12px;*/
    /*top: 5px;*/
/*}*/
.rs-container .rs-pointer::after {
    left: auto;
    right: 12px;
}
.rs-container.disabled .rs-pointer {
    cursor: default;
}
.rs-container.sliding .rs-selected,
.rs-container.sliding .rs-pointer {
    transition: none;
}
.rs-container .rs-scale {
    /*width: 100%;*/
    height: 100%;
    color: inherit;
    left: 0;
    position: absolute;
    /*top: 5px;*/
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}
.rs-container .rs-scale span {
    display: flex;
    float: none;
    position: relative;
    text-align: center;
}
 .rs-container .rs-scale span::before {
    background-color: #3F627F;
    content: "";
    height: 25px;
    left: 0;
    position: absolute;
    top: 0;
    width: 2px;
}
.rs-container.rs-noscale span::before {
    display: none;
}
.rs-container.rs-noscale span:first-child::before,

.rs-container.rs-noscale span:last-child::before {
    display: block;
}
.rs-container .rs-scale span:last-child {
    display: none;
    /*margin-left: -1px;*/
    /*width: 0px;*/
}
.rs-container .rs-scale span ins {
    color: white;
    font-weight: 600;
    display: inline-block;
    font-size: 14px;
    margin: auto;
    text-decoration: none;
}
.rs-container.disabled .rs-scale span ins {
    color: #999;
}
.rs-tooltip {
    color: #333;
    width: auto;
    min-width: 60px;
    height: 30px;
	position: relative;
	background: #fff;
	border: 1px solid #1381B5;
    border-radius: 3px;
    position: absolute;
    transform: translate(-50%, -35px);
    left: 13px;
    text-align: center;
    font-size: 13px;
    padding: 6px 10px 0;
}
.rs-container.disabled .rs-tooltip {
    border-color: #ccc;
    color: #999;
}